.project {
    display: flex;
    flex-direction: column;
    padding: 110px 70px;
}

.project__header {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 26.63px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    margin: 0;
}

.project__container {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 110px;
    gap: 40px;
}

.project__info {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.project__title {
    min-height: 24px;
    margin: 0 0 26px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 24.2px;
}

.project__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    min-height: 40px;
    margin: 0;
}

.project__deadlines {
    max-width: 1140px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
    row-gap: 14px;
    list-style: none;
}

.project__time {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 16.94px;
    grid-row: 1;
    background-color: #303030;
    color: #FFFFFF;
    margin: 0;
    padding: 9px 14px;
    text-align: center;
}

.project__time:first-child {
    background-color: #3DDC84;
    color: #000000;
}

.project__text {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    color: #8B8B8B;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .project {
        padding: 90px 50px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .project__container {
        padding-top: 70px;
        gap: 30px;
        padding-bottom: 93px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .project__info {
        max-width: 319px;
        gap: 22px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .project__subtitle {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .project__deadlines {
        grid-template-columns: 140px 1fr;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .project__time {
        padding: 9px 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project {
        padding: 70px 18px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__header {
        font-size: 18px;
        line-height: 21.78px;
        padding-bottom: 28px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__container {
        padding: 60px 0 60px;
        flex-direction: column;
        gap: 56px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__title {
        font-size: 18px;
        line-height: 21.78px;
        margin: 0 0 16px 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__subtitle {
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__deadlines {
        grid-template-columns: 100px 1fr;
        row-gap: 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__time {
        font-size: 11px;
        line-height: 13.31px;
        padding: 11px 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .project__text {
        font-size: 11px;
        line-height: 13.31px;
    }
}