.nav-main {
    display: flex;
    align-items: center;
}

.nav-main__register {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-main__login {
    margin: 0 0 0 30px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    border-radius: 3px;
    width: 76px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3DDC84;
}