.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px 125px;
    width: 89%;
}

.portfolio__header {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    color: #8b8b8b;
    margin: 0 0 50px 0;
}

.portfolio__menu {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.portfolio__item {
    border-bottom: 1px solid #424242;
    padding-bottom: 19px;
    width: 100%;
}

.portfolio__item:last-child {
    border: none;
    padding-bottom: 0;
}

.portfolio__link {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    letter-spacing: -1.2px;
    width: 100%;
}

.portfolio__link::after {
    content: '↗';
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .portfolio {
        padding: 0 50px 90px;
        width: 87%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .portfolio__link {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .portfolio {
        margin: 0 auto 70px;
        padding: 0;
        width: 91%;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .portfolio__header {
        font-size: 14px;
        margin: 0 0 40px 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}

.portfolio__link:hover {
    opacity: 0.7;
    cursor: pointer;
}
