.cards {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.cards__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 37px;
  padding: 0;
  list-style: none;
  margin: 70px 70px 10px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {

}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 70px 30px 70px;
 
  }
}


@media screen and (max-width: 767px) and (min-width: 320px) {
  .cards__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-top: 50px;

  }
}