.card {
  width: 364px;
  height: 281px;
  border-radius: 6px;
  background-color: rgba(34, 34, 34, 1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.card__image {
  width: 364px;
  height: 203px;
  object-fit: cover;
  cursor: pointer;
}

.card__container {
  padding: 8px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.card__info {
  padding-top: 4px;
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.card__header {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
}

.card__button-delete {
  background-image: url('../../../images/d4.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222222;
  margin: 6px 8px;
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
}

.card__button-save {
  background-image: url('../../../images/save4.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222222;
  margin: 4px 6px;
  padding: 0;
  border: none;
  width: 14px;
  height: 12px;
}

.card__button-save:focus {
  background-image: url('../../../images/save4d.svg');
}

@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card {
    max-width: 339px;
    max-height: 262px;
  }
}

@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card__container {
    padding: 8px 0 16px;
    gap: 6px;
  }
  .card__info {
    gap: 0;
  }
}

@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card__header {
    max-width: 260px;
    padding-bottom: 14px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card__duration {
    padding-left: 14px;
  }
}
@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card__button-delete {
    padding: 8px 14px 34px auto;
  }
}
@media screen and (max-width: 1276px) and (min-width: 768px) {
  .card__button-save {
    padding: 8px 14px 34px auto;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card {
    max-width: 300px;
    height: 237px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__image {
    width: 300px;
    height: 168px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__container {
    padding: 14px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__info {
    padding: 0;
    max-width: 240px;
    gap: 12px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__header {
    font-size: 12px;
    line-height: 14.52px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__duration {
    font-size: 10px;
    line-height: 12.1px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__button-save {
    width: 14px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card__button-delete {
    padding: 7px 10px 32px auto;
  }
}

.card__button-delete:hover {
  opacity: 0.7;
  cursor: pointer;
}

.card__button-save:hover {
  opacity: 0.7;
  cursor: pointer;
}
