.footer {
    max-width: 1280px;
    padding: 79px 70px 20px;
    margin: 0;
}

.footer__header {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 15.73px;
    color: #8B8B8B;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__year {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 15.73px;
    margin: 0;
}

.footer__info {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.footer__link {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 15.73px;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 768px;
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer {
        padding: 79px 10px 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer__header {
        font-size: 12px;
        line-height: 14.52px;
        padding-bottom: 21px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer__container {
        flex-direction: column-reverse;
        padding-top: 30px;
    
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer__year {
        font-size: 12px;
        line-height: 14.52px;
        text-align: center;
        padding-top: 30px;
        color: #8B8B8B; 
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer__info {
        gap: 12px;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer__link {
        font-size: 12px;
        line-height: 14.52px;
        text-align: center;
    }
}

.footer__link:hover {
    opacity: 0.7;
    cursor: pointer;
}