.search {
  margin: 60px 70px 81px;
}

.search__form {
  border-radius: 40px;
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  min-height: 46px;
  width: 100%;
}

.search__input {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 17px;
  color: #8b8b8b;
  border-radius: 40px;
  border: none;
  padding: 14px 0 14px 22px;
  background-color: #2f2f2f;
  width: 100%;
}

.search__button {
  background-image: url(../../../images/find.svg);
  background-color: #2f2f2f;
  width: 40px;
  height: 34px;
  border: none;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin: 6px 6px 6px 0;
  padding: 0;
}

.search__container {
  border-bottom: 1px solid #424242;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.search__checkbox {
  display: inline-block;
  gap: 10px;
}

.search__input-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.search__inner {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  display: inline-block;
  position: relative;
  padding-left: 48px;
  cursor: pointer;
}

.search__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.search__inner:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 20px;
  border-radius: 18px;
  background-color: #3ddc84;
  transition: background-color 0.3s;
}

.search__inner::after {
  display: block;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 15px;
  background-color: #ffffff;
  left: 18px;
  top: 2px;
  transition: background-color 0.3s, right 0.3s;
}

.search__input-checkbox:checked + .search__inner::before {
  background-color: #f5f5f5;
}

.search__input-checkbox:checked + .search__inner::after {
  background-color: #ebebeb;
  left: 2px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .search {
    margin: 76px 30px 78px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .search__container {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .search {
    margin: 74px 14px 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .search__input {
    font-size: 11px;
    padding: 14px 0 14px 19px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .search__button {
    width: 43px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .search__inner {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .search__container {
    padding-bottom: 50px;
  }
}
